.page {
  .make-row();

	.main {
		.make-md-column(9);
		@media (min-width: @screen-md){
			padding-right:30px;
		}
	}

	.sidebar {
		font-size:14px;

		.make-md-column(3);
		padding-bottom:30px;

		@media (min-width: @screen-md){
			float:right;clear:right;
			padding-left:30px;
			border-left:2px solid black;
		}

		.nav-sidebar{
			a{
				color:@text-color;
				padding:6px 0 6px 19px;
				margin:6px 0;
				&:hover{
					background:transparent;
					color:@brand-primary;
				}
			}

			.active{
				border-left:4px solid @brand-primary;
				a{
					padding-left: 15px;
					font-weight:bold;
				}
			}
		}

		.panel {
			box-shadow:none;

			.panel-heading{
				padding: 2px 0;
				a{
					color:@text-color;
					&:hover{
						color:@link-hover-color;
					}
				}
				.plusminus{
					display:inline-block;
			    vertical-align: -2px;
					color:@link-color;
					width:16px;
					height:16px;
					line-height:16px;
					text-align:center;
					border-radius:100%;

					margin-right:4px;
					font-size:17px;
					font-weight:bold;

					&:hover{
						background-color:@link-hover-color;
						color:white;
					}

					&:before{
						content:'\2212';
					}

				}

				.collapsed {
					.plusminus{
						&:before{
							content:'+'
						}
					}

				}
			}

			.panel-body{
				padding:0 0 0 20px;
				border:0;
				.nav{
					li{
						display:inline;
						&:after{content:', '}
						&:last-child::after{content:''}

						a{
							padding:0;display:inline;
							&:hover{background:transparent;text-decoration:underline}
						}

						&.active{
							a{color:@text-color;font-weight:bold;}
						}

					}
				}
			}
		}

		.media-list{
			.media-left{
				img{width:70px}
			}
		}

		.tab-pane{padding-top:14px}
	
	}

}
